@font-face {
	font-family: 'Cera Pro';
	src: url('../fonts/CeraPro-Medium.eot') format('embedded-opentype'),
		url('../fonts/CeraPro-Medium.woff') format('woff'),
		url('../fonts/CeraPro-Medium.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Cera Pro';
	src: url('../fonts/CeraPro-Regular.eot') format('embedded-opentype'),
		url('../fonts/CeraPro-Regular.woff') format('woff'),
		url('../fonts/CeraPro-Regular.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Cera Pro';
	src: url('../fonts/CeraPro-Bold.eot') format('embedded-opentype'),
		url('../fonts/CeraPro-Bold.woff') format('woff'),
		url('../fonts/CeraPro-Bold.ttf') format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: 'Cera Pro';
	src: url('../fonts/CeraPro-BoldItalic.eot') format('embedded-opentype'),
		url('../fonts/CeraPro-BoldItalic.woff') format('woff'),
		url('../fonts/CeraPro-BoldItalic.ttf') format('truetype');
	font-style: italic;
    font-weight: 700;
}