:root {
    --main-color: #43B6B4;
    --gray-color: #F8F8F8;
    --darkgray-color: #2C2C2C;
    --red-color: #ED695B;
    --orange-color: #FF8F27;
    --brown-color: #AE7751;

    --transition: .2s;
    --opacity: .3;
    --box-shadow: 5px 5px 10px 3px rgba(34, 60, 80, 0.3);
    --box-shadow-inset: inset 5px 5px 10px 3px rgba(34, 60, 80, 0.3)
}